.cart-icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .shopping-icon {
        width: 32px;
        height: 32px;
        color: white;
    }

    .item-count {
        position: absolute;
        width: 24px;
        height: 24px;
        font-size: 1.1rem !important;
        color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        top: -16px;
        right: 16px;
        border-radius: 50%;
        background-color: white;
    }
}
