.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;

    .logo-container {
        height: 100%;
        width: 120px;
    }

    .logo {
        width: 100%;
    }

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-link {
        padding: 16px;
        color: rgb(175, 114, 0);

        span {
            padding: 10px 15px;
            cursor: pointer;
            font-size: 2rem;
            font-family: 'Nanum Pen Script', cursive;
            position: relative;
            padding: 2px 0;
            white-space: nowrap;

            &::before {
                content: '';
                background-color: rgb(175, 114, 0);
                border-radius: 0 0 4px 4px;
                bottom: -6px;
                height: 2px;
                left: 0px;
                opacity: 0;
                position: absolute;
                right: 0px;
                transform-origin: left center;
                transform: scaleX(0);
                transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                visibility: hidden;
                width: auto;
            }
        }
        &:hover {
            span::before {
                transform: scaleX(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
