.category-container {
    position: relative;
    min-width: 30%;
    height: 380px;
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    overflow: hidden;
    font-family: 'Nanum Pen Script', cursive;

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .category-body-container {
        width: 100%;
        bottom: 0;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffc107;
        color: white;
        position: absolute;

        h2 {
            font-weight: bold;
            margin: 0 6px 0;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}
