.checkout-item-container {
    width: 100%;
    display: flex;
    border-top: 1px solid lightgray;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;

    .item-description {
        flex: 1 1 40%;
    }

    .remove-button {
        margin: auto;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .image-container {
        flex-basis: 20%;
    }

    .interactive {
        width: 80px;
        background-color: white;
        box-shadow: 0px 0px 1px gray;
        margin: 0 8px;
        border-radius: 12px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 4px;
        }
    }

    .change-quantity {
        cursor: pointer;
    }

    img {
        width: 100%;
        min-width: 50px;
    }

    > div {
        padding: 0 8px;
    }

    @media screen and (max-width: 600px) {
        font-size: 12px;

        .interactive {
            width: 60px;
            height: 80px;
        }
    }
}
