* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Ubuntu', 'Nanum-Pen-Script', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 32px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}
